.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    /* transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease; */
}

.App {
    background-image: url("https://images.pexels.com/photos/2413089/pexels-photo-2413089.jpeg?auto=compress&cs=tinysrgb&w=600");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


